@import './styles.scss';

.App {
  min-height: 100vh;
}

.productsListItem {
  cursor: pointer;
  height: 350px;
  width: 300px;
  .productsListItem__link {
    color: #4a4a4a;
  }
  .productsListItem__image {
    display: flex;
    justify-content: center;
    height: 200px;
  }
  .productsListItem__image-img {
    height: 200px;
    width: auto;
  }
  .productsListItem__brand {
    opacity: 0.5;
  }
  .productsListItem__image-spinner {
    margin: auto;
  }
  .productsListItem__productname {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.pagination__span-link {
  cursor: pointer;
}
.pagination__span-hide {
  visibility: hidden;
}

.sort__label {
  cursor: pointer;
}
