@import './styles.scss';

.App {
  min-height: 100vh;
}

.ProductsListItem {
  cursor: pointer;
  height: 350px;
  width: 300px;
  .ProductsListItem__image-img {
    height: 200px;
    width: auto;
  }
  .ProductsListItem__image {
    display: flex;
    justify-content: center;
  }
}

.Pagination__span-link {
  cursor: pointer;
}
.Pagination__span-hide {
  visibility: hidden;
}
